<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<!-- 총 클래스 개수  -->
	<entry key="selectClassCount">
	
	SELECT COUNT(*) "count"
	FROM CLASS
	
	
	</entry>
	<!-- 클래스 리스트 조회 -->
	<entry key="selectClassList">
	
	 SELECT *
	 FROM
	  (	
		SELECT ROWNUM RNUM, A.*
		FROM	
			(
			 SELECT 
					 CL_NO
					,G.CT_NAME
					,T.TT_NAME
					,CL_NAME
					,C.ENROLL_DATE
					,CL_STATUS
					
				FROM CLASS C
				JOIN CATEGORY G USING (CT_NO)
				JOIN TUTOR T USING (MEM_NO)
			    ORDER BY CL_NO DESC
			)A
	  )	
	WHERE RNUM BETWEEN ?   AND ?
	</entry>
	
	<entry key = "adminLogin">
	SELECT 
      		MEM_ID,
      	    MEM_PWD
       FROM MEMBER
	  WHERE MEM_ID =?
	    AND MEM_PWD = ?
	    AND GRADE = 0
	    AND MEM_STATUS = 'Y'
	</entry>
	
	<!-- 카테고리 대분류 조회 -->	
	<entry key="selectCategoryList">
		SELECT CT_NO
			  ,CT_NAME
		FROM  CATEGORY

	</entry>
	<!-- 세부카테고리 조회 -->
	<entry key="selectDcategoryList">
		SELECT CT_DNO
		      ,CT_NO
		      ,CT_DNAME
		 FROM DCATEGORY     

	</entry>		
		
		
	
</properties>