<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectTutorCalculate">
		SELECT
		       REG_NO
		     , CL_NAME
		     , TEACH_DATE
		     , REG_DATE
		     , START_TIME || '-' || END_TIME "SCH_TIME"
		     , TO_CHAR(REG_PRICE, '999,999,999') || '원' "REG_PRICE"
		     , REG_COUNT || '명' "REG_COUNT"
		     , REG_CAL
		  FROM REGISTER
		  JOIN CLASS C USING(CL_NO)
		  JOIN SCHEDULE USING(SCH_NO)
		 WHERE C.MEM_NO = ?
		   AND REG_STA = 2
           AND REG_CAL = ?
		 ORDER 
		    BY REG_NO DESC
	</entry>
	
	<entry key="selectCalculate">
		SELECT
		       REG_PRICE
		  FROM REGISTER
		 WHERE REG_NO = ?
	</entry>
	
	<entry key="insertCalculate">
		INSERT
		  INTO CALCULATE
		  (
		    CAL_NO
		  , PRICE
		  , BANK
		  , CAL_ACC
		  , CAL_NM
		  , CAL_REG
		  )
		  VALUES
		  (
		    SEQ_CCNO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="updateRegister">
		UPDATE REGISTER
		   SET REG_CAL = 'W'
		 WHERE REG_NO = ?
	</entry>
	
	<entry key="selectAllCalList">
		SELECT
		       CAL_NO
		     , RQ_DT
		     , TO_CHAR(PRICE, '999,999,999') || '원' "PRICE"
		     , BANK
		     , RPAD(SUBSTR(CAL_ACC, 1, 4), LENGTH(CAL_ACC)-4, '*') || SUBSTR(CAL_ACC, -4, 4) "CAL_ACC"
		     , CAL_NM
		     , DECODE(CAL_STA, 'W', '정산 진행중', 'C', '정산완료') "CAL_STA"
		  FROM CALCULATE
		  JOIN REGISTER ON(SUBSTR(CAL_REG,1,1) = REG_NO)
		  JOIN CLASS C USING(CL_NO)
          JOIN TUTOR T ON(C.MEM_NO = T.MEM_NO)
		 WHERE T.MEM_NO = ?
           AND DECODE(CAL_STA, 'W', '정산 진행중', 'C', '정산완료') LIKE ?
		 ORDER 
		    BY CAL_NO DESC
	</entry>
	
	<entry key="selectSeasonCalList">
		SELECT
		       CAL_NO
		     , RQ_DT
		     , TO_CHAR(PRICE, '999,999,999') || '원' "PRICE"
		     , BANK
		     , RPAD(SUBSTR(CAL_ACC, 1, 4), LENGTH(CAL_ACC)-4, '*') || SUBSTR(CAL_ACC, -4, 4) "CAL_ACC"
		     , CAL_NM
		     , DECODE(CAL_STA, 'W', '정산 진행중', 'C', '정산완료') "CAL_STA"
		  FROM CALCULATE
		  JOIN REGISTER ON(SUBSTR(CAL_REG,1,1) = REG_NO)
		  JOIN CLASS C USING(CL_NO)
          JOIN TUTOR T ON(C.MEM_NO = T.MEM_NO)
		 WHERE T.MEM_NO = ?
		   AND RQ_DT BETWEEN ? AND TO_DATE(?, 'YYYY-MM-DD') + 1
		   AND DECODE(CAL_STA, 'W', '정산 진행중', 'C', '정산완료') LIKE ?
		 ORDER 
		    BY CAL_NO DESC
	</entry>
	<entry key="selectCalDetail">
		SELECT
		       CAL_NO
		     , RQ_DT
		     , PRICE
		     , BANK
		     , RPAD(SUBSTR(CAL_ACC, 1, 4), LENGTH(CAL_ACC)-4, '*') || SUBSTR(CAL_ACC, -4, 4) "CAL_ACC"
		     , CAL_NM
		     , DECODE(CAL_STA, 'W', '정산 진행중', 'C', '정산완료') "CAL_STA"
		  FROM CALCULATE
		  JOIN REGISTER ON(SUBSTR(CAL_REG,1,1) = REG_NO)
		  JOIN CLASS C USING(CL_NO)
          JOIN TUTOR T ON(C.MEM_NO = T.MEM_NO)
		 WHERE CAL_NO = ?
	</entry>
	
	<entry key="selectAllSeasonCalMng">
		SELECT
		       CAL_NO
		     , RQ_DT
		     , TO_CHAR(PRICE, '999,999,999') || '원' "PRICE"
		     , BANK
		     , CAL_ACC
		     , CAL_NM
		     , DECODE(CAL_STA, 'W', '정산 진행중', 'C', '정산완료') "CAL_STA"
             , MEM_ID
		  FROM CALCULATE
		  JOIN REGISTER ON(SUBSTR(CAL_REG,1,1) = REG_NO)
		  JOIN CLASS C USING(CL_NO)
          JOIN MEMBER M ON(C.MEM_NO = M.MEM_NO)
		 ORDER 
		    BY CAL_NO DESC
	</entry>
	
	<entry key="selectMemSeasonCalMng">
		SELECT
		       CAL_NO
		     , RQ_DT
		     , TO_CHAR(PRICE, '999,999,999') || '원' "PRICE"
		     , BANK
		     , CAL_ACC
		     , CAL_NM
		     , DECODE(CAL_STA, 'W', '정산 진행중', 'C', '정산완료') "CAL_STA"
             , MEM_ID
		  FROM CALCULATE
		  JOIN REGISTER ON(SUBSTR(CAL_REG,1,1) = REG_NO)
		  JOIN CLASS C USING(CL_NO)
          JOIN MEMBER M ON(C.MEM_NO = M.MEM_NO)
         WHERE MEM_ID = ?
		 ORDER 
		    BY CAL_NO DESC
	</entry>
	<entry key="selectAllCalMng">
		SELECT
		       CAL_NO
		     , RQ_DT
		     , TO_CHAR(PRICE, '999,999,999') || '원' "PRICE"
		     , BANK
		     , CAL_ACC
		     , CAL_NM
		     , DECODE(CAL_STA, 'W', '정산 진행중', 'C', '정산완료') "CAL_STA"
             , MEM_ID
		  FROM CALCULATE
		  JOIN REGISTER ON(SUBSTR(CAL_REG,1,1) = REG_NO)
		  JOIN CLASS C USING(CL_NO)
          JOIN MEMBER M ON(C.MEM_NO = M.MEM_NO)
		 WHERE RQ_DT BETWEEN ? AND TO_DATE(?, 'YYYY-MM-DD') + 1
		 ORDER 
		    BY CAL_NO DESC
	</entry>
	<entry key="selectMemCalMng">
		SELECT
		       CAL_NO
		     , RQ_DT
		     , TO_CHAR(PRICE, '999,999,999') || '원' "PRICE"
		     , BANK
		     , CAL_ACC
		     , CAL_NM
		     , DECODE(CAL_STA, 'W', '정산 진행중', 'C', '정산완료') "CAL_STA"
             , MEM_ID
		  FROM CALCULATE
		  JOIN REGISTER ON(SUBSTR(CAL_REG,1,1) = REG_NO)
		  JOIN CLASS C USING(CL_NO)
          JOIN MEMBER M ON(C.MEM_NO = M.MEM_NO)
		 WHERE MEM_ID = ?
           AND RQ_DT BETWEEN ? AND TO_DATE(?, 'YYYY-MM-DD') + 1
		 ORDER 
		    BY CAL_NO DESC
	</entry>

</properties>