<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectMainClass">
		SELECT 
		       CL_NO
		     , LOCAL_NAME
		     , DISTR_NAME
		     , SUBSTR(CL_NAME, 1, 10) || '...' "CL_NAME"
		     , TO_CHAR(CL_PRICE, '999,999,999') || '원' "CL_PRICE"
		     , CL_THUMB
		     , (SELECT AVG(RE_STAR) 
		          FROM REVIEW R
		         WHERE R.CL_NO = C.CL_NO) "STAR_AVG"
		     , (SELECT COUNT(RE_STAR) 
		          FROM REVIEW R
		         WHERE R.CL_NO = C.CL_NO) "STAR_COUNT"
		  FROM CLASS C
		  JOIN LOCATION USING(LOCAL_CODE)
		  JOIN DISTRICT ON(DESTR_CODE = DISTR_CODE)
		 WHERE CL_STATUS = 2
		 ORDER
		    BY CL_NO DESC
	</entry>
	<entry key="selectLikeClass">
		SELECT 
		       CL_NO
		     , LOCAL_NAME
		     , DISTR_NAME
		     , SUBSTR(CL_NAME, 1, 10) || '...' "CL_NAME"
		     , TO_CHAR(CL_PRICE, '999,999,999') || '원' "CL_PRICE"
		     , CL_THUMB
		     , (SELECT AVG(RE_STAR) 
		          FROM REVIEW R
		         WHERE R.CL_NO = C.CL_NO) "STAR_AVG"
		     , (SELECT COUNT(RE_STAR) 
		          FROM REVIEW R
		         WHERE R.CL_NO = C.CL_NO) "STAR_COUNT"
		     , (SELECT COUNT(*)
		          FROM "LIKE" L
		         WHERE L.CL_NO = C.CL_NO
		         GROUP BY L.CL_NO) "LIKE_COUNT"
		  FROM CLASS C
		  JOIN LOCATION USING(LOCAL_CODE)
		  JOIN DISTRICT ON(DESTR_CODE = DISTR_CODE)
		 WHERE CL_STATUS = 2
		  ORDER BY LIKE_COUNT DESC NULLS LAST
	</entry>
	<entry key="selectReviewClass">
		SELECT 
		         RE_NO
		       , SUBSTR(CONTENT, 1, 28) || '...' "CONTENT"
		       , RE_STAR
		       , CL_NO
		       , CL_NAME
		       , CL_THUMB
		  FROM REVIEW
		  JOIN CLASS USING(CL_NO)
		 WHERE CL_STATUS = 2
		   AND RE_STA = 'Y'
		 ORDER BY RE_NO DESC
	</entry>

</properties>