<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>


<entry key="selectNoticeListup">
SELECT
	   NT_NO,
	   NT_TITLE
  FROM NOTICE
 WHERE NT_STA='Y'
   AND GRADE='1'
 ORDER 
    BY ENROLL_DATE DESC
</entry>


<entry key="selectFaqListup">
	SELECT
	       FAQ_NO,
		   QUESTION
	  FROM FAQ
	 WHERE GRADE='1'
	   AND STATUS='Y'
	 ORDER 
	    BY ENROLL_DATE DESC
</entry>

<entry key="selectNoticeList">
SELECT *
FROM(
        SELECT ROWNUM RNUM , A.*
        FROM(
                SELECT
                            *
                      FROM NOTICE
                     WHERE NT_STA='Y'
                       AND GRADE='1'
                     ORDER 
                        BY ENROLL_DATE DESC
            ) A
    )
WHERE RNUM BETWEEN ? AND ?
	
</entry>

<entry key="selectFaqList">
	  SELECT *
		FROM(
		        SELECT ROWNUM RNUM , A.*
		        FROM(
		                SELECT
		                       *
		                  FROM FAQ
		                 WHERE GRADE='1'
		                   AND STATUS='Y'
		                 ORDER 
		                    BY ENROLL_DATE DESC
		            ) A
		    )
		WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="selectNoticeListCount">
	SELECT
	        COUNT(*) count
	  FROM NOTICE
	 WHERE NT_STA = 'Y'
	   AND GRADE='1'
</entry>

<entry key="selectFaqListCount">
	SELECT
	        COUNT(*) count
	  FROM FAQ
	 WHERE GRADE = '1'
	   AND STATUS='Y'
</entry>


<entry key="selectNoticeDetail">
	SELECT 
	        NT_TITLE,
	        NT_CONTENT,
	        ENROLL_DATE
	  FROM NOTICE
	 WHERE NT_STA='Y'
	   AND GRADE='1'
	   AND NT_NO=?
</entry>

<entry key="selectTutorNoticeListCount">
	SELECT
	        COUNT(*) count
	  FROM NOTICE
	 WHERE NT_STA = 'Y'
	   AND GRADE='2'
</entry>

<entry key="selectTutorNoticeList">
SELECT *
FROM(
        SELECT ROWNUM RNUM , A.*
        FROM(
                SELECT
                            *
                      FROM NOTICE
                     WHERE NT_STA='Y'
                       AND GRADE='2'
                     ORDER 
                        BY ENROLL_DATE DESC
            ) A
    )
WHERE RNUM BETWEEN ? AND ?
	
</entry>

<entry key="selectTutorNoticeDetail">
	SELECT 
	        NT_TITLE,
	        NT_CONTENT,
	        ENROLL_DATE
	  FROM NOTICE
	 WHERE NT_STA='Y'
	   AND GRADE='2'
	   AND NT_NO=?
</entry>

<entry key="selectTutorFaqListCount">
	SELECT
	        COUNT(*) count
	  FROM FAQ
	 WHERE GRADE = '2'
	   AND STATUS='Y'
</entry>

<entry key="selectTutorFaqList">
	  SELECT *
		FROM(
		        SELECT ROWNUM RNUM , A.*
		        FROM(
		                SELECT
		                       *
		                  FROM FAQ
		                 WHERE GRADE='2'
		                   AND STATUS='Y'
		                 ORDER 
		                    BY ENROLL_DATE DESC
		            ) A
		    )
		WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="selectAdminNoticeListCount">
	SELECT
	        COUNT(*) count
	  FROM NOTICE
	 WHERE NT_STA = 'Y'
</entry>

<entry key="selectAdminNoticeList">
SELECT *
FROM(
        SELECT ROWNUM RNUM , A.*
        FROM(
                SELECT
                            *
                      FROM NOTICE
                     WHERE NT_STA='Y'
                     ORDER 
                        BY ENROLL_DATE DESC
            ) A
    )
WHERE RNUM BETWEEN ? AND ?
	
</entry>

<entry key="selectKeywordNoticeListCount">
	SELECT
	        COUNT(*) count
	  FROM NOTICE
	 WHERE NT_STA = 'Y'
       AND NT_TITLE LIKE ?
</entry>

<entry key="selectKeywordNoticeList">
SELECT *
FROM(
        SELECT ROWNUM RNUM , A.*
        FROM(
                SELECT
                            *
                      FROM NOTICE
                     WHERE NT_STA='Y'
                       AND NT_TITLE LIKE ?
                     ORDER 
                        BY ENROLL_DATE DESC
            ) A
    )
WHERE RNUM BETWEEN ? AND ?
	
</entry>

<entry key="insertNotice">
INSERT
  INTO NOTICE
  (
    NT_NO,
    NT_MEM,
    NT_TITLE,
    NT_CONTENT,
    ENROLL_DATE,
    GRADE
  )
  VALUES
  (
    SEQ_NTNO.NEXTVAL,
    0,
    ?,
    ?,
    SYSDATE,
    ?
  )
</entry>

<entry key="insertAttachment">
INSERT
  INTO ATTACHMENT
  (
    FILE_NO,
    ORIGIN_NAME,
    CHANGE_NAME,
    FILE_PATH,
    UPLOAD_DATE,
    STATUS,
    REF_TYPE,
    REF_NO
  )
  VALUES
  (
    SEQ_ATNO.NEXTVAL,
    ?,
    ?,
    ?,
    SYSDATE,
    'Y',
    0,
    SEQ_NTNO.CURRVAL
  )
</entry>


<entry key="selectAdminNoticeDetail">
	SELECT 
	        NT_TITLE,
	        NT_CONTENT,
	        ENROLL_DATE
	  FROM NOTICE
	 WHERE NT_STA='Y'
	   AND NT_NO=?
</entry>

<entry key="selectAdminNoticeAttachment">
		SELECT
		       FILE_NO
		     , ORIGIN_NAME
		     , CHANGE_NAME
		     , FILE_PATH
		  FROM ATTACHMENT
		 WHERE REF_NO = ?
</entry>

<entry key="deleteNotice">
		UPDATE NOTICE
		   SET NT_STA = 'N'
		 WHERE NT_NO = ?
	</entry>
	
<entry key="selectTutorFaqListAd">
	SELECT *
			FROM(
			        SELECT ROWNUM RNUM , A.*
			        FROM(
			                SELECT
			                       *
			                  FROM FAQ
			                 WHERE GRADE='2'
			                   AND STATUS='Y'
			                 ORDER 
			                    BY ENROLL_DATE DESC
			            ) A
			    )
			WHERE RNUM BETWEEN 1 AND 5
</entry>

<entry key="selectTuteeFaqList">
	SELECT *
			FROM(
			        SELECT ROWNUM RNUM , A.*
			        FROM(
			                SELECT
			                       *
			                  FROM FAQ
			                 WHERE GRADE='1'
			                   AND STATUS='Y'
			                 ORDER 
			                    BY ENROLL_DATE DESC
			            ) A
			    )
			WHERE RNUM BETWEEN 1 AND 5
</entry>

<entry key="insertFaqTutor">
	INSERT
	  INTO FAQ
	  (
	    FAQ_NO,
	    MEM_NO,
	    GRADE,
	    QUESTION,
	    ANSWER,
	    ENROLL_DATE
	  )
	  VALUES
	  (
	    SEQ_FAQNO.NEXTVAL,
	    0,
	    2,
	    ?,
	    ?,
	    SYSDATE
	  )
</entry>

<entry key="insertFaqTutee">
	INSERT
	  INTO FAQ
	  (
	    FAQ_NO,
	    MEM_NO,
	    GRADE,
	    QUESTION,
	    ANSWER,
	    ENROLL_DATE
	  )
	  VALUES
	  (
	    SEQ_FAQNO.NEXTVAL,
	    0,
	    1,
	    ?,
	    ?,
	    SYSDATE
	  )
</entry>

<entry key="selectTutorFaqDetail">
	SELECT 
	        QUESTION,
	        ANSWER
	  FROM FAQ
	 WHERE FAQ_NO = ?
	   AND STATUS='Y'
		  
</entry>

<entry key="faqUpdate">
	UPDATE FAQ
	   SET QUESTION = ?,
	       ANSWER = ?
	 WHERE FAQ_NO = ?
</entry>

<entry key="deleteFaq">
	UPDATE FAQ
		   SET STATUS = 'N'
		 WHERE FAQ_NO = ?
</entry>

<entry key="keywordFaqTutee">
SELECT *
  FROM FAQ
 WHERE STATUS = 'Y'
   AND GRADE = '1'
   AND QUESTION LIKE ?
 ORDER
    BY ENROLL_DATE DESC
</entry>
</properties>