<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>


<entry key="selectNoticeListup">
SELECT
	   NT_NO,
	   NT_TITLE
  FROM NOTICE
 WHERE NT_STA='Y'
 ORDER 
    BY ENROLL_DATE DESC
</entry>


<entry key="selectFaqListup">
	SELECT
	       FAQ_NO,
		   QUESTION
	  FROM FAQ
	 WHERE GRADE='1'
	 ORDER 
	    BY ENROLL_DATE DESC
</entry>





</properties>