<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="selectTutorQnaList">
SELECT *
  FROM QNA Q
  JOIN MEMBER M ON (M.MEM_NO = Q.Q_MEM_NO)
 WHERE MEM_NO = ?
 ORDER
    BY Q_DATE DESC
	
</entry>












</properties>