<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="selectTutorRegister">
		SELECT
		       REG_NO
		     , MEM_NAME
		     , CL_NAME
		     , TEACH_DATE
		     , REG_DATE
		     , START_TIME || '-' || END_TIME "SCH_TIME"
		     , TO_CHAR(REG_PRICE, '999,999,999') || '원' "REG_PRICE"
		     , REG_COUNT || '명' "REG_COUNT"
		     , REG_STA
		     , REG_CAL
		  FROM REGISTER
		  JOIN MEMBER USING(MEM_NO)
		  JOIN CLASS C USING(CL_NO)
		  JOIN SCHEDULE USING(SCH_NO)
		 WHERE C.MEM_NO = ?
           AND DECODE(REG_STA, '0', '승인전', '1', '승인완료', '2', '승인완료', '4', '승인반려') LIKE ?
		 ORDER 
		    BY REG_NO DESC
	</entry>
	
	<entry key="selectTutorNewRegister">
		SELECT
		       REG_NO
		     , MEM_NAME
		     , CL_NAME
		     , TEACH_DATE
		     , REG_DATE
		     , START_TIME || '-' || END_TIME "SCH_TIME"
		     , TO_CHAR(REG_PRICE, '999,999,999') || '원' "REG_PRICE"
		     , REG_COUNT || '명' "REG_COUNT"
		     , REG_STA
		     , REG_CAL
		  FROM REGISTER
		  JOIN MEMBER USING(MEM_NO)
		  JOIN CLASS C USING(CL_NO)
		  JOIN SCHEDULE USING(SCH_NO)
		 WHERE C.MEM_NO = ?
		   AND REG_STA = ?
		 ORDER 
		    BY REG_NO DESC
	</entry>
	<entry key="selectTutorFinRegister">
		SELECT
		       REG_NO
		     , MEM_NAME
		     , CL_NAME
		     , TEACH_DATE
		     , REG_DATE
		     , START_TIME || '-' || END_TIME "SCH_TIME"
		     , TO_CHAR(REG_PRICE, '999,999,999') || '원' "REG_PRICE"
		     , REG_STA
		  FROM REGISTER
		  JOIN MEMBER USING(MEM_NO)
		  JOIN CLASS C USING(CL_NO)
		  JOIN SCHEDULE USING(SCH_NO)
		 WHERE C.MEM_NO = ?
		   AND REG_STA IN(1,2)
		 ORDER 
		    BY REG_NO DESC
	</entry> 
	<entry key="selectDetailApproval">
		SELECT
		       REG_NO
		     , MEM_NAME
		     , CL_NAME
		     , TEACH_DATE
		     , REG_DATE
		     , START_TIME || '-' || END_TIME "SCH_TIME"
		     , TO_CHAR(REG_PRICE, '999,999,999') || '원' "REG_PRICE"
		     , REG_COUNT || '명' "REG_COUNT"
		     , MEM_PHONE
		     , NVL(MEM_EMAIL, '없음') "MEM_EMAIL"
		  FROM REGISTER
		  JOIN MEMBER USING(MEM_NO)
		  JOIN CLASS C USING(CL_NO)
		  JOIN SCHEDULE USING(SCH_NO)
		 WHERE REG_NO = ?
	</entry>

	<entry key="updateRegister">
		UPDATE REGISTER
		   SET REG_STA = ?
		 WHERE REG_NO = ?
	</entry>
	
	<entry key="selectRegisterList">
	SELECT 
		  TEACH_DATE
		, REG_NO
		, REG_DATE
		, REG_PAY
		, TO_CHAR(REG_PRICE, '999,999,999') || '원' "REG_PRICE"
		, REG_COUNT
		, REG_STA
		, CL_THUMB
		, C.CL_NAME "CL_NAME"
        , S.START_TIME "START_TIME"
	 FROM REGISTER R
	 JOIN CLASS C USING(CL_NO)
	 JOIN SCHEDULE S USING(SCH_NO)
	 WHERE R.MEM_NO= ?
	</entry>
	
</properties>