<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectTutorCalculate">
		SELECT
		       REG_NO
		     , CL_NAME
		     , TEACH_DATE
		     , REG_DATE
		     , START_TIME || '-' || END_TIME "SCH_TIME"
		     , TO_CHAR(REG_PRICE, '999,999,999') || '원' "REG_PRICE"
		     , REG_COUNT || '명' "REG_COUNT"
		     , REG_CAL
		  FROM REGISTER
		  JOIN CLASS C USING(CL_NO)
		  JOIN SCHEDULE USING(SCH_NO)
		 WHERE C.MEM_NO = ?
		   AND REG_STA = 2
           AND REG_CAL = ?
		 ORDER 
		    BY REG_NO DESC
	</entry>
	
	<entry key="selectCalculate">
		SELECT
		       REG_PRICE
		  FROM REGISTER
		 WHERE REG_NO = ?
	</entry>
	
	<entry key="insertCalculate">
		INSERT
		  INTO CALCULATE
		  (
		    CAL_NO
		  , PRICE
		  , BANK
		  , CAL_ACC
		  , CAL_NM
		  , CAL_REG
		  )
		  VALUES
		  (
		    SEQ_CCNO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="updateRegister">
		UPDATE REGISTER
		   SET REG_CAL = 'W'
		 WHERE REG_NO = ?
	</entry>

</properties>