<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectMainClass">
		SELECT 
		       CL_NO
		     , LOCAL_NAME
		     , DISTR_NAME
		     , SUBSTR(CL_NAME, 1, 10) || '...' "CL_NAME"
		     , TO_CHAR(CL_PRICE, '999,999,999') || '원' "CL_PRICE"
		     , CL_THUMB
		     , (SELECT AVG(RE_STAR) 
		          FROM REVIEW R
		         WHERE R.CL_NO = C.CL_NO) "STAR_AVG"
		     , (SELECT COUNT(RE_STAR) 
		          FROM REVIEW R
		         WHERE R.CL_NO = C.CL_NO) "STAR_COUNT"
		  FROM CLASS C
		  JOIN LOCATION USING(LOCAL_CODE)
		  JOIN DISTRICT USING(DISTR_CODE)
		 WHERE CL_STATUS = 2
		 ORDER
		    BY CL_NO DESC
	</entry>
	<entry key="selectInterestClass">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                SELECT
		                       CL_NO
		                     , LOCAL_NAME
		                     , DISTR_NAME
		                     , SUBSTR(CL_NAME, 1, 10) || '...' "CL_NAME"
		                     , TO_CHAR(CL_PRICE, '999,999,999') || '원' "CL_PRICE"
		                     , CL_THUMB
		                     , (SELECT AVG(RE_STAR) 
		                          FROM REVIEW R
		                         WHERE R.CL_NO = C.CL_NO) "STAR_AVG"
		                     , (SELECT COUNT(RE_STAR) 
		                          FROM REVIEW R
		                         WHERE R.CL_NO = C.CL_NO) "STAR_COUNT"
		                     , (SELECT COUNT(*)
		                          FROM "LIKE" L
		                         WHERE L.CL_NO = C.CL_NO
		                         GROUP BY L.CL_NO) "LIKE_COUNT"
		                     , ROWNUM "ROWNUM"
		                  FROM CLASS C
		                  JOIN LOCATION USING(LOCAL_CODE)
		                  JOIN DISTRICT USING(DISTR_CODE)
		                 WHERE CL_STATUS = 2
		                   AND INSTR(?, CT_NO) > 0
		                  ORDER BY DBMS_RANDOM.VALUE
		                ) A
		        )
		 WHERE RNUM BETWEEN 1 AND 10
	</entry>
	<entry key="selectLikeClass">
		SELECT 
		       CL_NO
		     , LOCAL_NAME
		     , DISTR_NAME
		     , SUBSTR(CL_NAME, 1, 10) || '...' "CL_NAME"
		     , TO_CHAR(CL_PRICE, '999,999,999') || '원' "CL_PRICE"
		     , CL_THUMB
		     , (SELECT AVG(RE_STAR) 
		          FROM REVIEW R
		         WHERE R.CL_NO = C.CL_NO) "STAR_AVG"
		     , (SELECT COUNT(RE_STAR) 
		          FROM REVIEW R
		         WHERE R.CL_NO = C.CL_NO) "STAR_COUNT"
		     , (SELECT COUNT(*)
		          FROM "LIKE" L
		         WHERE L.CL_NO = C.CL_NO
		         GROUP BY L.CL_NO) "LIKE_COUNT"
		  FROM CLASS C
		  JOIN LOCATION USING(LOCAL_CODE)
		  JOIN DISTRICT USING(DISTR_CODE)
		 WHERE CL_STATUS = 2
		  ORDER BY LIKE_COUNT DESC NULLS LAST
	</entry>
	<entry key="selectReviewClass">
		SELECT 
		         RE_NO
		       , SUBSTR(CONTENT, 1, 28) || '...' "CONTENT"
		       , RE_STAR
		       , CL_NO
		       , CL_NAME
		       , CL_THUMB
		  FROM REVIEW
		  JOIN CLASS USING(CL_NO)
		 WHERE CL_STATUS = 2
		   AND RE_STA = 'Y'
		 ORDER BY RE_NO DESC
	</entry>
	
	<entry key="selectClassPage">
		SELECT
			   CL_NO
		     , CT_NAME
		     , CT_DNAME
		     , TT_NAME
		     , CL_NAME
		     , CL_ADDRESS
		     , CL_MAX
		     , CL_LEVEL
		     , START_DATE
		     , END_DATE
		     , CL_TIMES
		     , CL_SCHEDULE
		     , CL_DAY
		     , CL_PRICE
		     , CL_DETAIL
		     , CURRICULUM
		     , REFUNDPOLICY
		     , NVL(CL_SUPPLIES, '준비물 없음') "CL_SUPPLIES"
		     , CL_THUMB
		     , (SELECT AVG(RE_STAR) 
		          FROM REVIEW R
		         WHERE R.CL_NO = C.CL_NO) "STAR_AVG"
		     , (SELECT COUNT(RE_STAR) 
		          FROM REVIEW R
		         WHERE R.CL_NO = C.CL_NO) "STAR_COUNT"
		     , (SELECT COUNT(*)
		          FROM "LIKE" L
		         WHERE L.CL_NO = C.CL_NO
		         GROUP BY L.CL_NO) "LIKE_COUNT"
		     , TT_PROFILE
		  FROM CLASS C
		  JOIN CATEGORY USING(CT_NO)
		  JOIN DCATEGORY USING(CT_DNO)
		  JOIN TUTOR USING(MEM_NO)
		 WHERE C.CL_STATUS = 2
		   AND C.CL_NO = ?
	</entry>
	<entry key="selectClassAttachment">
		SELECT 
		       FILE_NO
		     , CHANGE_NAME
		     , FILE_PATH
		  FROM ATTACHMENT
		 WHERE REF_NO = ?
		   AND REF_TYPE = 1
		   AND STATUS = 'Y'
	</entry>
	<entry key="selectClassReview">
		SELECT
		       RE_NO
		     , CONTENT
		     , RE_STAR
		     , RE_DATE
		     , RE_UPDATE
		     , MEM_NICKNAME
		     , MEM_PROFILE
		  FROM REVIEW R
		  JOIN REGISTER USING(REG_NO)
		  JOIN MEMBER USING(MEM_NO)
		 WHERE R.CL_NO = ?
		   AND RE_STA = 'Y'
	</entry>
	<entry key="selectLikeStatus">
		SELECT 
		       COUNT(*) "LIKE_ST"
		  FROM "LIKE"
		 WHERE CL_NO = ?
		   AND MEM_NO = ?
	</entry>
	<entry key="insertLikeClass">
		INSERT
		  INTO "LIKE"
		  (
		    CL_NO
		  , MEM_NO
		  )
		  VALUES
		  (
		    ?
		  , ?
		  )
	</entry>
	<entry key="deleteLikeClass">
		DELETE 
		  FROM "LIKE"
		 WHERE CL_NO = ?
		   AND MEM_NO = ?
	</entry>
	
	<entry key="searchCategoryList">
		
	SELECT *
	 FROM
	  (	
		SELECT ROWNUM RNUM, A.*
		FROM	
			(
				SELECT 
				       CL_NO
				     , CT_NAME
				     , CT_DNAME  
				     , LOCAL_NAME
				     , DISTR_NAME
				     , SUBSTR(CL_NAME, 1, 25) || '...' "CL_NAME"
				     , TO_CHAR(CL_PRICE, '999,999,999') || '원' "CL_PRICE"
				     , CL_THUMB
				     , (SELECT AVG(RE_STAR) 
				          FROM REVIEW R
				         WHERE R.CL_NO = C.CL_NO) "STAR_AVG"
				     , (SELECT COUNT(RE_STAR) 
				          FROM REVIEW R
				         WHERE R.CL_NO = C.CL_NO) "STAR_COUNT"
				  FROM CLASS C
				  JOIN LOCATION USING(LOCAL_CODE)
				  JOIN DISTRICT USING(DISTR_CODE)
				  JOIN CATEGORY USING (CT_NO)
				  JOIN DCATEGORY USING (CT_DNO)
				 WHERE CL_STATUS = 2
				   AND CT_NAME = ?
				 ORDER
				    BY CL_NO DESC
			)A
		)	
		WHERE RNUM BETWEEN ?   AND ?
					

	</entry>
	
	<entry key="searchDcategoryList">
		
		
			
	 SELECT *
	 FROM
	  (	
		SELECT ROWNUM RNUM, A.*
		FROM	
			(
		
			SELECT 
			       CL_NO
			     , CT_NAME
			     , CT_DNAME     
			     , LOCAL_NAME
			     , DISTR_NAME
			     , SUBSTR(CL_NAME, 1, 25) || '...' "CL_NAME"
			     , TO_CHAR(CL_PRICE, '999,999,999') || '원' "CL_PRICE"
			     , CL_THUMB
			     , (SELECT AVG(RE_STAR) 
			          FROM REVIEW R
			         WHERE R.CL_NO = C.CL_NO) "STAR_AVG"
			     , (SELECT COUNT(RE_STAR) 
			          FROM REVIEW R
			         WHERE R.CL_NO = C.CL_NO) "STAR_COUNT"
			  FROM CLASS C
			  JOIN LOCATION USING(LOCAL_CODE)
			  JOIN DISTRICT USING(DISTR_CODE)
			   JOIN CATEGORY USING (CT_NO)
			  JOIN DCATEGORY USING (CT_DNO)
			 WHERE CL_STATUS = 2
			   AND CT_DNAME = ?
			 ORDER
			    BY CL_NO DESC
			)A
		)	
		WHERE RNUM BETWEEN ?   AND ?
			

	</entry>

	 <entry key="selectDcategory">
		SELECT CT_DNO
		      ,CT_NO
		      ,CT_DNAME
		      ,CT_NAME
		 FROM DCATEGORY
		 JOIN CATEGORY USING (CT_NO)
		WHERE CT_NAME = ?     

	</entry>	
	
	 <entry key="selectCategory">
	      SELECT CT_dNO
             ,CT_NAME
             ,CT_DNAME
       FROM DCATEGORY   
       JOIN CATEGORY USING(CT_NO)
       WHERE CT_NO = 
	            (SELECT CT_NO 
				 FROM DCATEGORY
				 JOIN CATEGORY USING (CT_NO)
				WHERE CT_DNAME = ?
	             )  
		       
	
		</entry>
		

	<!-- 총 클래스 개수 (카테고리 검색결과) -->
	<entry key="dctSearchCount">
	
	SELECT COUNT(*) "count"
	FROM (
			SELECT 
		       CL_NO
		     , CT_NAME
		     , CT_DNAME     
		     , LOCAL_NAME
		     , DISTR_NAME
		     , SUBSTR(CL_NAME, 1, 20) || '...' "CL_NAME"
		     , TO_CHAR(CL_PRICE, '999,999,999') || '원' "CL_PRICE"
		     , CL_THUMB
		     , (SELECT AVG(RE_STAR) 
		          FROM REVIEW R
		         WHERE R.CL_NO = C.CL_NO) "STAR_AVG"
		     , (SELECT COUNT(RE_STAR) 
		          FROM REVIEW R
		         WHERE R.CL_NO = C.CL_NO) "STAR_COUNT"
		  FROM CLASS C
		  JOIN LOCATION USING(LOCAL_CODE)
		  JOIN DISTRICT USING(DISTR_CODE)
		   JOIN CATEGORY USING (CT_NO)
		  JOIN DCATEGORY USING (CT_DNO)
		 WHERE CL_STATUS = 2
		   AND CT_DNAME = ?
		 ORDER
		    BY CL_NO DESC
	
		)
	
	
	</entry>
	
	<entry key="ctSearchCount">
	
	SELECT COUNT(*)  "count"
	FROM (SELECT 
		       CL_NO
		     , CT_NAME
		     , CT_DNAME  
		     , LOCAL_NAME
		     , DISTR_NAME
		     , SUBSTR(CL_NAME, 1, 25) || '...' "CL_NAME"
		     , TO_CHAR(CL_PRICE, '999,999,999') || '원' "CL_PRICE"
		     , CL_THUMB
		     , (SELECT AVG(RE_STAR) 
		          FROM REVIEW R
		         WHERE R.CL_NO = C.CL_NO) "STAR_AVG"
		     , (SELECT COUNT(RE_STAR) 
		          FROM REVIEW R
		         WHERE R.CL_NO = C.CL_NO) "STAR_COUNT"
		  FROM CLASS C
		  JOIN LOCATION USING(LOCAL_CODE)
		  JOIN DISTRICT USING(DISTR_CODE)
		  JOIN CATEGORY USING (CT_NO)
		  JOIN DCATEGORY USING (CT_DNO)
		 WHERE CL_STATUS = 2
		   AND CT_NAME = ?
		 ORDER
		    BY CL_NO DESC
		)

	</entry>
	
	<entry key="selectTutorInfo">
	
	SELECT MEM_NO
	    , TT_NAME
	    , INTRODUCE
	    , TT_PROFILE
	 FROM TUTOR
	 JOIN CLASS USING (MEM_NO)
	 WHERE CL_NO = ?

	</entry>

	<entry key="selectTutorClass">
		 SELECT 
		       CL_NO
		     , LOCAL_NAME
		     , DISTR_NAME
		     , SUBSTR(CL_NAME, 1, 25) || '...' "CL_NAME"
		     , TO_CHAR(CL_PRICE, '999,999,999') || '원' "CL_PRICE"
		     , CL_THUMB
		     , (SELECT AVG(RE_STAR) 
		          FROM REVIEW R
		         WHERE R.CL_NO = C.CL_NO) "STAR_AVG"
		     , (SELECT COUNT(RE_STAR) 
		          FROM REVIEW R
		         WHERE R.CL_NO = C.CL_NO) "STAR_COUNT"
		  FROM CLASS C
		  JOIN LOCATION USING(LOCAL_CODE)
		  JOIN DISTRICT USING(DISTR_CODE)
		 WHERE CL_STATUS = 2
          AND MEM_NO = (SELECT MEM_NO
                      FROM CLASS
                     WHERE CL_NO = ?)
		 ORDER
		    BY CL_NO DESC  
            
	</entry>
	
	<entry key="selectTutorReview">
	
	SELECT
		      RE_NO
		     , CONTENT
			 , RE_STAR
			 , RE_DATE
			 , RE_UPDATE
		     , CL_NAME
			 , MEM_NICKNAME
			 , MEM_PROFILE
		     , C.MEM_NO 
  
		  FROM REVIEW R
		  JOIN REGISTER G USING(REG_NO)
		  JOIN MEMBER USING (MEM_NO)
          JOIN CLASS C ON (C.CL_NO=R.CL_NO)
		  WHERE RE_STA = 'Y'
        GROUP BY C.MEM_NO, RE_NO, CONTENT, RE_STAR, RE_DATE, 
      			  RE_UPDATE, MEM_NICKNAME, MEM_PROFILE, CL_NAME 
          HAVING C.MEM_NO = ( SELECT MEM_NO
                            FROM CLASS
                             WHERE CL_NO = ?) 
                                  
	
	</entry>
	
	<entry key= "selectTtClassCount">
	
	    SELECT COUNT(*)  "COUNT"
   		FROM (
	        SELECT 
			       CL_NO
			     , LOCAL_NAME
			     , DISTR_NAME
			     , SUBSTR(CL_NAME, 1, 15) || '...' "CL_NAME"
			     , TO_CHAR(CL_PRICE, '999,999,999') || '원' "CL_PRICE"
			     , CL_THUMB
			     , (SELECT AVG(RE_STAR) 
			          FROM REVIEW R
			         WHERE R.CL_NO = C.CL_NO) "STAR_AVG"
			     , (SELECT COUNT(RE_STAR) 
			          FROM REVIEW R
			         WHERE R.CL_NO = C.CL_NO) "STAR_COUNT"
			  FROM CLASS C
			  JOIN LOCATION USING(LOCAL_CODE)
			  JOIN DISTRICT USING(DISTR_CODE)
			 WHERE CL_STATUS = 2
	          AND MEM_NO = (SELECT MEM_NO
	                      FROM CLASS
	                     WHERE CL_NO = ?
	                     )
			 ORDER
			    BY CL_NO DESC  
            )
            
	
	</entry>
	 
	 <entry key="selectTtReviewCount">
	  SELECT COUNT(*) "count"          
	  FROM
		  (
		   SELECT
				      RE_NO
				     , CONTENT
					 , RE_STAR
					 , RE_DATE
					 , RE_UPDATE
				     , CL_NAME
					 , MEM_NICKNAME
					 , MEM_PROFILE
				     , C.MEM_NO 
		  
				  FROM REVIEW R
				  JOIN REGISTER G USING(REG_NO)
				  JOIN MEMBER USING (MEM_NO)
		          JOIN CLASS C ON (C.CL_NO=R.CL_NO)
				  WHERE RE_STA = 'Y'
		        GROUP BY C.MEM_NO, RE_NO, CONTENT, RE_STAR, RE_DATE, 
		      			  RE_UPDATE, MEM_NICKNAME, MEM_PROFILE, CL_NAME 
		          HAVING C.MEM_NO = ( SELECT MEM_NO
		                            FROM CLASS
		                             WHERE CL_NO = ?) 
		           )                               

	 </entry>
	
	<entry key="keywordSearchCount">
			
	SELECT COUNT(*) "count"		
	  FROM (	
			
			SELECT 
				       CL_NO
				     , CT_NAME
				     , CT_DNAME  
				     , MEM_NO
				     , TT_NAME
				     , LOCAL_NAME
				     , DISTR_NAME
				     , SUBSTR(CL_NAME, 1, 25) || '...' "CL_NAME"
				     , TO_CHAR(CL_PRICE, '999,999,999') || '원' "CL_PRICE"
				     , KEYWORD
				     , CL_THUMB
				     , (SELECT AVG(RE_STAR) 
				          FROM REVIEW R
				         WHERE R.CL_NO = C.CL_NO) "STAR_AVG"
				     , (SELECT COUNT(RE_STAR) 
				          FROM REVIEW R
				         WHERE R.CL_NO = C.CL_NO) "STAR_COUNT"
				  FROM CLASS C
				  JOIN LOCATION USING(LOCAL_CODE)
				  JOIN DISTRICT USING(DISTR_CODE)
				  JOIN CATEGORY USING (CT_NO)
				  JOIN DCATEGORY USING (CT_DNO)
				  JOIN TUTOR USING(MEM_NO)
				 WHERE CL_STATUS = 2
				 AND CL_NAME||CT_NAME||CT_DNAME||TT_NAME||LOCAL_NAME||DISTR_NAME||KEYWORD LIKE ?
				 ORDER
				    BY CL_NO DESC
				 )   
	</entry>
	

	 <entry key="selectKeywordSearhList">
	 
	 SELECT *
	 FROM
	  (	
		SELECT ROWNUM RNUM, A.*
		FROM	
			(
				SELECT 
				       CL_NO
				     , CT_NAME
				     , CT_DNAME  
				     , MEM_NO
				     , TT_NAME
				     , LOCAL_NAME
				     , DISTR_NAME
				     , SUBSTR(CL_NAME, 1, 25) || '...' "CL_NAME"
				     , TO_CHAR(CL_PRICE, '999,999,999') || '원' "CL_PRICE"
				     , KEYWORD
				     , CL_THUMB
				     , (SELECT AVG(RE_STAR) 
				          FROM REVIEW R
				         WHERE R.CL_NO = C.CL_NO) "STAR_AVG"
				     , (SELECT COUNT(RE_STAR) 
				          FROM REVIEW R
				         WHERE R.CL_NO = C.CL_NO) "STAR_COUNT"
				  FROM CLASS C
				  JOIN LOCATION USING(LOCAL_CODE)
				  JOIN DISTRICT USING(DISTR_CODE)
				  JOIN CATEGORY USING (CT_NO)
				  JOIN DCATEGORY USING (CT_DNO)
				  JOIN TUTOR USING(MEM_NO)
				 WHERE CL_STATUS = 2
				 AND CL_NAME||CT_NAME||CT_DNAME||TT_NAME||LOCAL_NAME||DISTR_NAME||KEYWORD LIKE ?
				 ORDER
				    BY CL_NO DESC
			)A
		)	
		WHERE RNUM BETWEEN ?  AND ?
 
	 </entry>
	 
	<entry key="selectPriceAsc">

				SELECT 
				       CL_NO
				     , CT_NAME
				     , CT_DNAME  
				     , LOCAL_NAME
				     , DISTR_NAME
				     , SUBSTR(CL_NAME, 1, 25) || '...' "CL_NAME"
				     , TO_CHAR(CL_PRICE, '999,999,999') || '원' "CL_PRICE"
				     , CL_THUMB
				     , (SELECT AVG(RE_STAR) 
				          FROM REVIEW R
				         WHERE R.CL_NO = C.CL_NO) "STAR_AVG"
				     , (SELECT COUNT(RE_STAR) 
				          FROM REVIEW R
				         WHERE R.CL_NO = C.CL_NO) "STAR_COUNT"
				  FROM CLASS C
				  JOIN LOCATION USING(LOCAL_CODE)
				  JOIN DISTRICT USING(DISTR_CODE)
				  JOIN CATEGORY USING (CT_NO)
				  JOIN DCATEGORY USING (CT_DNO)
				 WHERE CL_STATUS = 2
				   AND CT_NAME = ?
				 ORDER
				    BY CL_PRICE ASC
		
		
	</entry> 
	<entry key="getSchedule">
		SELECT
		       S.SCH_NO "SCH_NO"
		     , SESSION_NO
		     , START_TIME
		     , END_TIME
		     , CLS_HOUR
		     , CL_MAX
		     ,(SELECT
		              COUNT(*)
		         FROM REGISTER
		        WHERE SCH_NO = S.SCH_NO
		          AND TO_DATE(TEACH_DATE) = TO_DATE(?, 'YYYYMMDD')
		        GROUP BY SCH_NO) "REG_COUNT"
		  FROM SCHEDULE S
		  RIGHT JOIN CLASS C ON(S.CL_NO = C.CL_NO)
		  WHERE S.CL_NO = ?
		  ORDER BY SCH_NO
	</entry>
	
	

	<entry key="selectPriceDesc">

				SELECT 
				       CL_NO
				     , CT_NAME
				     , CT_DNAME  
				     , LOCAL_NAME
				     , DISTR_NAME
				     , SUBSTR(CL_NAME, 1, 25) || '...' "CL_NAME"
				     , TO_CHAR(CL_PRICE, '999,999,999') || '원' "CL_PRICE"
				     , CL_THUMB
				     , (SELECT AVG(RE_STAR) 
				          FROM REVIEW R
				         WHERE R.CL_NO = C.CL_NO) "STAR_AVG"
				     , (SELECT COUNT(RE_STAR) 
				          FROM REVIEW R
				         WHERE R.CL_NO = C.CL_NO) "STAR_COUNT"
				  FROM CLASS C
				  JOIN LOCATION USING(LOCAL_CODE)
				  JOIN DISTRICT USING(DISTR_CODE)
				  JOIN CATEGORY USING (CT_NO)
				  JOIN DCATEGORY USING (CT_DNO)
				 WHERE CL_STATUS = 2
				   AND CT_NAME = ?
				 ORDER
				    BY CL_PRICE DESC
		
		
	</entry> 
	
	<entry key="selectHighStarDesc">
	SELECT
			CL_NO
			, CT_NAME
			, CT_DNAME
			, LOCAL_NAME
			, DISTR_NAME
			, SUBSTR(CL_NAME, 1, 25) || '...' "CL_NAME"
			, TO_CHAR(CL_PRICE, '999,999,999') || '원' "CL_PRICE"
			, CL_THUMB
			, (SELECT AVG(RE_STAR)
			FROM REVIEW R
			WHERE R.CL_NO = C.CL_NO) "STAR_AVG"
			, (SELECT COUNT(RE_STAR)
			FROM REVIEW R
			WHERE R.CL_NO = C.CL_NO) "STAR_COUNT"
		
			FROM CLASS C
			JOIN LOCATION USING(LOCAL_CODE)
			JOIN DISTRICT USING(DISTR_CODE)
			JOIN CATEGORY USING (CT_NO)
			JOIN DCATEGORY USING (CT_DNO)
			WHERE CL_STATUS = 2
			AND CT_NAME = ?
			ORDER
			BY STAR_AVG DESC
			
	</entry>
	
	<entry key="selectRegisterDesc">
		 SELECT 
				       CL_NO
				     , CT_NAME
				     , CT_DNAME  
				     , LOCAL_NAME
				     , DISTR_NAME
				     , SUBSTR(CL_NAME, 1, 25) || '...' "CL_NAME"
				     , TO_CHAR(CL_PRICE, '999,999,999') || '원' "CL_PRICE"
				     , CL_THUMB
				     , (SELECT AVG(RE_STAR) 
				          FROM REVIEW R
				         WHERE R.CL_NO = C.CL_NO) "STAR_AVG"
				     , (SELECT COUNT(RE_STAR) 
				          FROM REVIEW R
				         WHERE R.CL_NO = C.CL_NO) "STAR_COUNT"
                     ,( select count(reg_no)
                        from register g
                        group by cl_no
                        having c.cl_no =g.cl_no )"REG_COUNT"
				  FROM CLASS C
				  JOIN LOCATION USING(LOCAL_CODE)
				  JOIN DISTRICT USING(DISTR_CODE)
				  JOIN CATEGORY USING (CT_NO)
				  JOIN DCATEGORY USING (CT_DNO)
				 WHERE CL_STATUS = 2
				   AND CT_NAME = ?
                   ORDER 
                   BY REG_COUNT DESC
	
	
	</entry>
	
	
	

</properties>