<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<!-- 로그인요청 -->
	<entry key="loginMember">
		SELECT 
		       MEM_NO
		     , MEM_ID
		     , MEM_PWD
		     , MEM_NAME
		     , MEM_NICKNAME
		     , MEM_EMAIL
		     , MEM_PHONE
		     , MEM_ADDR
		     , GENDER
		     , MEM_BIRTH
		     , MEM_PROFILE
		     , INTEREST
		     , GRADE
		     , ENROLL_DATE
		     , MEM_UPDATE
		     , MEM_STATUS
		     , MEM_DROP
		  FROM MEMBER
	     WHERE MEM_ID = ?
	       AND MEM_PWD = ?
	       AND MEM_STATUS = 'Y'
	</entry>
	
	<!-- 이메일중복체크요청 -->
	<entry key="checkEmail">
		SELECT
		       MEM_NO
		  FROM MEMBER
		 WHERE MEM_EMAIL = ?
	</entry>
	
	<!-- 회원가입요청 -->
	<entry key="insertMember">
		INSERT
		   INTO MEMBER
		   (
		   	 MEM_NO
		   , MEM_ID
		   , MEM_PWD
		   , MEM_NAME
		   , MEM_NICKNAME
		   , MEM_EMAIL
		   , MEM_PHONE
		   , MEM_ADDR
		   , GENDER
		   , MEM_BIRTH
		   , MEM_PROFILE
		   , INTEREST
		   , GRADE
		   )
		   VALUES 
		   (
		     SEQ_MBNO.NEXTVAL
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , 1
		   )
		   
	</entry>
	
	<!-- 프로필사진등록요청 -->
	<entry key="insertAttachment">
		UPDATE MEMBER
		   SET MEM_PROFILE = ?
		 WHERE MEM_NO = SEQ_MBNO.CURRVAL
	</entry>
	
	<!-- 아이디 중복체크요청 -->
	<entry key="idCheck">
		SELECT 
		       COUNT(*) "COUNT"
		  FROM MEMBER
		 WHERE MEM_ID = ?
	</entry>
	
	<!-- 닉네임 중복체크요청 -->
	<entry key="nickCheck">
		SELECT 
		       COUNT(*) "COUNT"
		  FROM MEMBER
		 WHERE MEM_NICKNAME = ?
	</entry>
	
	
	
	<!-- 수강한클래스수 -->
	<entry key="registerCount">
		SELECT
		       COUNT(*) "COUNT"
		  FROM REGISTER
		 WHERE MEM_NO = ?
	</entry>
	
	<!-- 찜한클래스수 -->
	<entry key="likeCount">
		SELECT
		      COUNT(*) "COUNT"
		  FROM LIKE
		 WHERE MEM_NO = ?
	</entry>
	
	<!-- 회원정보 수정요청 -->
	<entry key="updateMember">
		UPDATE MEMBER
		   SET MEM_NICKNAME = ?
		     , MEM_EMAIL = ?
		     , MEM_PHONE = ?
		     , MEM_ADDR = ?
		     , GENDER = ?
		     , MEM_BIRTH = ?
		     , MEM_PROFILE = ?
		     , INTEREST = ?
		     , MEM_UPDATE = SYSDATE
		 WHERE MEM_ID = ?
	</entry>
	
	<!-- 수정한회원정보 요청 -->
	<entry key="selectMember">
		SELECT 
		       MEM_NO
		     , MEM_ID
		     , MEM_PWD
		     , MEM_NAME
		     , MEM_NICKNAME
		     , MEM_EMAIL
		     , MEM_PHONE
		     , MEM_ADDR
		     , GENDER
		     , MEM_BIRTH
		     , MEM_PROFILE
		     , INTEREST
		     , GRADE
		     , ENROLL_DATE
		     , MEM_UPDATE
		     , MEM_STATUS
		     , MEM_DROP
		  FROM MEMBER
	     WHERE MEM_ID = ?
	       AND MEM_STATUS = 'Y' 
	</entry>
	
	<!-- 비밀번호 수정 요청 -->
	<entry key="updatePwd">
		UPDATE MEMBER
		   SET MEM_PWD = ?
             , MEM_UPDATE = SYSDATE
		 WHERE MEM_ID = ?
		   AND MEM_PWD = ?
	</entry>
	
	<!-- 회원 탈퇴 요청 -->
	<entry key="deleteMember">
		UPDATE MEMBER
		   SET MEM_DROP = ?
		     , MEM_STATUS = 'N'
		 WHERE MEM_ID = ?
		   AND MEM_PWD = ?
	</entry>
	
	<!-- 튜터등록한 회원 정보 조회 -->
	<entry key="selectTutorMember">
		SELECT 
		       MEM_NO
		     , MEM_ID
		     , MEM_PWD
		     , MEM_NAME
		     , MEM_NICKNAME
		     , MEM_EMAIL
		     , MEM_PHONE
		     , MEM_ADDR
		     , GENDER
		     , MEM_BIRTH
		     , MEM_PROFILE
		     , INTEREST
		     , GRADE
		     , ENROLL_DATE
		     , MEM_UPDATE
		     , MEM_STATUS
		     , MEM_DROP
		  FROM MEMBER
	     WHERE MEM_NO = ?
	       AND MEM_STATUS = 'Y' 
	</entry>
	<!-- 마이클래스 리스트를 조회하기 위한 sql문 -->
	<entry key="selectMyClassList">
	SELECT 
		       R.REG_NO 
		     , C.CL_NAME 
		     , D.DISTR_NAME 
		     , R.TEACH_DATE 
		     , S.START_TIME 
		     , TO_CHAR(REG_DATE,'YYYY-MM-DD') "REG_DATE"
		     , R.REG_STA 
		     , T.TT_NAME 
		     , C.CL_THUMB 
      FROM 
		       REGISTER R
		     , CLASS C
		     , DISTRICT D
		     , SCHEDULE S
		     , TUTOR T
      WHERE     R.CL_NO = C.CL_NO 
	    AND 	C.DISTR_CODE =  D.DISTR_CODE
	    AND 	R.SCH_NO = S.SCH_NO
	    AND 	C.MEM_NO = T.MEM_NO
	    AND 	R.MEM_NO = ?
	
	</entry>
	
	
	
</properties>