<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="loginMember">
		SELECT 
		       MEM_NO
		     , MEM_ID
		     , MEM_PWD
		     , MEM_NAME
		     , MEM_NICKNAME
		     , MEM_EMAIL
		     , MEM_PHONE
		     , MEM_POST
		     , MEM_ADDR
		     , GENDER
		     , MEM_BIRTH
		     , MEM_PROFILE
		     , INTEREST
		     , GRADE
		     , ENROLL_DATE
		     , MEM_UPDATE
		     , MEM_STATUS
		     , MEM_DROP
		  FROM MEMBER
	     WHERE MEM_ID = ?
	       AND MEM_PWD = ?
	       AND MEM_STATUS = 'Y'
	</entry>
	
	<entry key="insertMember">
		INSERT
		   INTO MEMBER
		   (
		   	 MEM_NO
		   , MEM_ID
		   , MEM_PWD
		   , MEM_NAME
		   , MEM_NICKNAME
		   , MEM_EMAIL
		   , MEM_PHONE
		   , MEM_POST
		   , MEM_ADDR
		   , GENDER
		   , MEM_BIRTH
		   , INTEREST
		   , GRADE
		   )
		   VALUES 
		   (
		     SEQ_MBNO.NEXTVAL
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , ?
		   , 1
		   )
		   
	</entry>
	
	<entry key="insertAttachment">
		UPDATE MEMBER
		   SET MEM_PROFILE = ?
		 WHERE MEM_NO = SEQ_MBNO.CURRVAL
	</entry>

	
</properties>