<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="selectTutorQnaList">
SELECT *
  FROM QNA Q
  JOIN MEMBER M ON (M.MEM_NO = Q.Q_MEM_NO)
 WHERE MEM_NO = ?
   AND Q_STATUS = 'Y'
 ORDER
    BY Q_DATE DESC
	
</entry>

<entry key="insertTutorQna">
	INSERT
	  INTO QNA
	  (
	    Q_NO,
	    Q_TITLE,
	    Q_CONTENT,
	    Q_DATE,
	    Q_STATUS,
	    Q_GRADE,
	    Q_CATEGORY,
	    CL_NO,
	    Q_MEM_NO,
	    A_TITLE,
	    A_CONTENT,
	    A_DATE,
	    A_MEM_NO,
	    A_STATUS
	  )
	  VALUES
	  (
	    SEQ_QANO.NEXTVAL,
	    ?,
	    ?,
	    SYSDATE,
	    'Y',
	    '2',
	    ?,
	    NULL,
	    ?,
	    NULL,
	    NULL,
        NULL,
	    0,
	    'N'
	  )
</entry>

<entry key="selectQnaDetail">
	SELECT *
	  FROM QNA
	 WHERE Q_NO =?
	   AND Q_STATUS = 'Y'
</entry>












</properties>