<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectRefundMng">
		SELECT *
		  FROM (SELECT ORDER_NO
		             , MEM_ID
		             , TO_CHAR(REF_RQ_DT, 'YYYY-MM-DD') "REF_RQ_DT"
		             , DECODE(REF_FIN_DT, NULL, '-', TO_CHAR(REF_FIN_DT, 'YYYY-MM-DD')) "REF_FIN_DT"
		             , TO_CHAR(REF_PRICE, '999,999,999') || '원' "REF_PRICE"
		             , TO_CHAR(REG_DATE, 'YYYY-MM-DD') "REG_DATE"
		             , DECODE(REG_PAY, 0, '카드', 1, '무통장') "REG_PAY"
		             , CL_NO
		             , DECODE(REF_STA, 'N', '환불신청', 'Y', '환불완료') "REF_STA"
		             , REF_REA
		         FROM REFUND RF
		         JOIN MEMBER M ON(RF.MEM_NO = M.MEM_NO)
		        JOIN REGISTER ON(ORDER_NO = REG_NO)
		       ORDER
		          BY REF_RQ_DT DESC)
	</entry>
	
	<entry key="updateRefund">
		UPDATE REFUND
		   SET REF_STA = ?
		 WHERE ORDER_NO = ?
	</entry>
	
	<entry key="updateRefFinDt">
		UPDATE REFUND
		   SET REF_FIN_DT = SYSDATE
		 WHERE ORDER_NO = ?
		   AND REF_STA = 'Y'
	</entry>
	
	<entry key="updateRefFinDtNull">
		UPDATE REFUND
		   SET REF_FIN_DT = NULL
		 WHERE ORDER_NO = ?
		   AND REF_STA = 'N'
	</entry>
	
	<entry key="selectRefundDeposit">
		SELECT
			   ORDER_NO
		     , TO_CHAR(REF_RQ_DT, 'YYYY-MM-DD(DY) HH24:MI:SS') "REF_RQ_DT"
		     , TO_CHAR(REF_PRICE, '999,999,999') || '원' "REF_PRICE"
		     , REF_BANK
		     , REF_ACC
		     , REF_NM
		     , DECODE(REF_STA, 'N', '환불신청', 'Y', '환불완료') "REF_STA"
		     , REF_REA
		  FROM REFUND
		 WHERE ORDER_NO = ?
	</entry>
	
	<!-- 환불하려는 클래스 정보 -->
	<entry key="selectRefundClass">
		SELECT
		       REG_NO
		     , CL_NO
		     , TEACH_DATE
		     , REG_PAY
		     , TO_CHAR(REG_PRICE, '999,999,999') || '원' "REG_PRICE"
		     , DEPOSIT_STA
		     , CL_THUMB
		     , CL_NAME
		     , START_TIME
		     , DISTR_NAME
		   
		  FROM REGISTER R
		  LEFT OUTER JOIN CLASS C
		    ON C.CL_NO = R.CL_NO
	   	  LEFT OUTER JOIN DISTRICT D
	    	ON D.DISTR_CODE = C.DISTR_CODE
		  LEFT OUTER JOIN SCHEDULE S
		    ON S.SCH_NO = R.SCH_NO
		 WHERE REG_NO=?
	</entry>
	<!-- 환불데이터 insert -->
	<entry key="insertRefund">
		INSERT
	   	  INTO REFUND
		     (
		       ORDER_NO
		     , MEM_NO
		     , REF_RQ_DT
		     , REF_PRICE
		     , REF_BANK
		     , REF_ACC
		     , REF_NM
		     , REF_REA
		     )
		VALUES
		     (
		       ?
			 , ?
			 , SYSDATE
			 , ?
			 , ?
			 , ?
			 , ?
			 , ?
		     )
		
	</entry>
	
	<!-- 수강상태 변경 -->
	<entry key="updateStatus">
	UPDATE REGISTER 
	   SET REG_STA = '3'
	 WHERE REG_NO = ? 
	
	</entry>
	
	<!-- 사용자가 입력한 환불정보 -->
	<entry key="selectRefundInfo">
		SELECT
				MEM_NO
			  , REF_PRICE
			  , REF_BANK
			  , REF_ACC
			  , REF_NM
		   FROM REFUND
	   	  WHERE ORDER_NO= ?
				
	</entry>
	
</properties>