<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<!-- 내가 남긴 리뷰수 -->
	<entry key="reviewCount">
		SELECT 
		       COUNT(*) "COUNT"
		  FROM REVIEW
		  JOIN REGISTER USING(REG_NO)
		 WHERE MEM_NO = ?	
	</entry>
	
	<entry key="selectWriteListCount">
		SELECT
		 	   COUNT(*) "COUNT"
		  FROM REGISTER
		 WHERE MEM_NO = ? 
		   AND REG_STA = 2
		 
	</entry>
	
	<entry key="selectWriteList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, C.*
		          FROM (
		                SELECT 
		                          REG_NO
		                        , TEACH_DATE
		                        , REG_STA
		                        , CL_THUMB
		                        , C.CL_NAME "CL_NAME"
		                        , S.START_TIME "START_TIME"
		                        , D.DISTR_NAME "DISTR_NAME"
		                        FROM REGISTER R
		                        LEFT OUTER JOIN CLASS C
		                        ON C.CL_NO = R.CL_NO
		                        LEFT OUTER JOIN DISTRICT D
		                        ON D.DISTR_CODE = C.DISTR_CODE
		                        LEFT OUTER JOIN SCHEDULE S
		                        ON S.SCH_NO = R.SCH_NO
		                        WHERE R.MEM_NO = ?
		                          AND REG_STA =  2
		                          AND RE_ENROLL = 'N'
		                        ORDER
		                           BY REG_NO DESC
		                )C
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectMyReviewListCount">
		SELECT
		 	   COUNT(*) "COUNT"
		  FROM REVIEW
		 WHERE MEM_NO = ? 
		   AND RE_STA = 'Y'
		 
	</entry>
	
	<entry key="selectMyReviewList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                SELECT
							   CONTENT
							 , RE_STAR
							 , RE_DATE
							 , C.CL_NAME "CL_NAME"
							 , C.CL_THUMB "CL_THUMB"
						  FROM REVIEW R
						  LEFT OUTER JOIN CLASS C
						    ON C.CL_NO = R.CL_NO
						 WHERE R.MEM_NO = ?
						   AND RE_STA = 'Y'
						 ORDER
						    BY RE_NO DESC 
		                )A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>

	<entry key="selectReviewList">
		SELECT 
		       RE_NO
		     , "CONTENT"
		     , RE_STAR
		     , RE_DATE
		     , RE_UPDATE
		     , RE_STA
		     , REG_NO
		     , R.CL_NO
		     , R.MEM_NO
		     , CL_NAME
		     , M.MEM_ID
		     , M.MEM_PROFILE
		  FROM REVIEW R
		  JOIN CLASS C ON (R.CL_NO = C.CL_NO)
		  JOIN MEMBER M ON (R.MEM_NO = M.MEM_NO)
		 WHERE C.MEM_NO = ?
	</entry>
	
	<entry key="deleteReview">
		UPDATE
		       REVIEW
		   SET RE_STA = 'N'
		 WHERE RE_NO = ?
		
	</entry>
	
	<entry key="selectEnrollFormClass">
	 SELECT 
               REG_NO
             , TEACH_DATE
           	 , REG_STA
          	 , CL_THUMB
          	 , C.CL_NAME "CL_NAME"
             , S.START_TIME "START_TIME"
             , D.DISTR_NAME "DISTR_NAME"
          FROM REGISTER R
          LEFT OUTER JOIN CLASS C
          ON C.CL_NO = R.CL_NO
          LEFT OUTER JOIN DISTRICT D
          ON D.DISTR_CODE = C.DISTR_CODE
          LEFT OUTER JOIN SCHEDULE S
          ON S.SCH_NO = R.SCH_NO
          WHERE REG_NO = ?
    </entry>
    
    <entry key="selectAdminSearchReview">
		SELECT *
		  FROM (
		        SELECT
		               RE_NO
		             , CONTENT
		             , RE_STAR
		             , RE_DATE
		             , MEM_NAME
		             , C.MEM_NO
		             , C.CL_NAME
                     , TT_NAME
		          FROM REVIEW R
		          JOIN MEMBER M ON(R.MEM_NO = M.MEM_NO)
		          JOIN CLASS C USING(CL_NO)
                  JOIN TUTOR T ON(C.MEM_NO = T.MEM_NO)
		          ORDER 
		             BY RE_NO DESC
		       )
		  WHERE 1=1
	</entry>
	
	<entry key="selectTutorReview">
		SELECT *
		  FROM (
		        SELECT
		               RE_NO
		             , CONTENT
		             , RE_STAR
		             , RE_DATE
		             , MEM_NAME
		             , C.MEM_NO
		             , C.CL_NAME
		          FROM REVIEW
		          JOIN MEMBER USING(MEM_NO)
		          JOIN CLASS C USING(CL_NO)
		          ORDER 
		             BY RE_NO DESC
		       )
	</entry>
	<entry key="selectReviewDetail">
		SELECT
		        RE_NO
		      , CONTENT
		      , CL_NAME
		      , CT_NAME
		      , MEM_NAME
		      , RE_STAR
		      , RE_DATE
		      , RE_UPDATE
		      , DECODE(RE_STA, 'Y', '등록', 'N', '삭제') "RE_STA"
		      , TT_NAME
		   FROM REVIEW R
		   JOIN CLASS C USING(CL_NO)
		   JOIN TUTOR T ON(C.MEM_NO = T.MEM_NO)
		   JOIN CATEGORY USING(CT_NO)
		   JOIN MEMBER M ON(R.MEM_NO = M.MEM_NO)
		  WHERE RE_NO = ?
	</entry>
	
	
	<!-- 리뷰 등록 -->
	<entry key="insertReview">
	INSERT
	  INTO REVIEW
		(
		   RE_NO
		 , CONTENT
		 , RE_STAR
		 , REG_NO
		 , CL_NO
		 , MEM_NO
		 ) VALUES
		 (
		   SEQ_RVNO.NEXTVAL
		 , ?
		 , ?
		 , ?
		 , ?
		 , ?
		  )
	
	</entry>
	
	<entry key="insertAttachment">
	INSERT
	  INTO ATTACHMENT
		 (
		   FILE_NO
		 , ORIGIN_NAME
		 , CHANGE_NAME
		 , FILE_PATH
		 , REF_TYPE
		 , REF_NO
		 ) VALUES
		 (
		   SEQ_ATNO.NEXTVAL
		 , ?
		 , ?
		 , ?
		 , 2
		 , SEQ_RVNO.CURRVAL
		)
	
	
	</entry>
</properties>
